{#
/**
 * @file popup_entity.html.twig
 * Default theme implementation to present Popup entity data.
 *
 * This template is used when viewing Popup entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_popup_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('popup_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
